.hero{
    display: flex;
    padding: 5rem;
    background: var(--techleftlblue);
    color: white;
    margin-bottom: 5rem;
}
.textContainer {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: center;
}

.textContainer h3 {
    font-size: 3rem;
    font-weight: 600;
}

.textContainer h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}